<section class="container-fluid login-main">
    <table class="main-header-1">
      <td class="main-header-2">WORLD CUP BET LEAGUE</td>
    </table>
    <div class="container">
      <div class="row">
          <article class="create-new-password">
              <p class="create-header" >CREATE NEW PASSWORD</p>
              <div>
                <p class="error-message" *ngIf="errorMessage">{{errorMessage}}</p>
                <p class="error-message" *ngIf="(!password.valid && (password.dirty || password.touched))">Password should be least 8 and not more 16 characters</p>
                <p class="error-message" *ngIf="(!passwords.valid && (repeatPassword.dirty || repeatPassword.touched))">Your credentials are incorrect</p>
              </div>
              <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm.value)">
                  <div class="form-group" [ngClass]="{'has-error': (!password.valid && (password.dirty || password.touched))}">
                    <input type="password" class="form-control" id="formGroupExampleInput" placeholder="Input new password" [formControl]="password" autocomplete="off">
                  </div>
                  <div class="form-group" [ngClass]="{'has-error': (!passwords.valid && (repeatPassword.dirty || repeatPassword.touched))}">
                    <input type="password" class="form-control" id="formGroupExampleInput2" placeholder="Confirm new password" [formControl]="repeatPassword" autocomplete="off">
                  </div>
                  <div class="form-group btn-change">
                        <button type="submit" [class.isactive]="resetPasswordForm.valid"  class="btn btn-outline-success" [disabled]="!resetPasswordForm.valid">Change password</button>
                  </div>
              </form>
          </article>
      </div>
    </div>
  </section>
