@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('../../../assets/fonts/HelveticaNeueCyr-Roman.otf');
}
@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../../../assets/fonts/HelveticaNeueCyr-Medium.ttf');
}

 body{
    font-family: 'HelveticaNeueCyr-Roman';
}
table.main-header-1{
    position: absolute;
    top: 5%;
    width: 100%;
    display: table;
    table-layout: fixed;
    height: 0px;

}
td.main-header-2 {
  font-family: 'HelveticaNeueCyr-Medium';
  text-align: center;
  vertical-align: middle;
   font-size: 550%;
   font-weight: 500;
   font-style: normal;
   font-stretch: normal;
   line-height: 0.26;
   letter-spacing: normal;
   color: rgba(1, 53, 1, 0.13);
   display: table-cell;
}

.container-fluid.login-main{
    margin: 0 auto;
    background: url(../../../assets/images/image-compressor.png) no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 1055px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px;
}
.forgot {
    margin: 0 auto;
    width: 570px;
    height: 319px;
    background-color:   rgba(33, 33 , 33, 0.85);
}
article .f-psd {
    font-family: 'HelveticaNeueCyr-Roman';
    width: 220px;
    height: 18px;
    font-size: 22px;
    padding-top: 37px;
    padding-bottom: 43px;
    margin: 0 auto;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #ffffff;
}
.desc{
    max-width: 456px;
    width: 100%;
    height: 41px;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: rgb(255, 255, 255);
    line-height: 1.4;
    margin-left: 66px;
  }

input#formGroupInput.form-control{
    font-family: 'HelveticaNeueCyr-Roman';
    width: 100%;
    height: 39px;
    line-height: 39px;
    background-color:  rgba(0, 0 , 0, 0.25);
    border: 0;
    border-radius: 0;
    font-weight: 500;
    letter-spacing: -0.3px;
    color: rgba(255, 255 , 255, 1);
    padding-left: 110px;
    padding-top: 4px;
    padding-bottom: 0;
    margin-top: 30px;
}

input[type=email]{
    background: url(../../../assets/images/mail.svg) no-repeat;
    background-size: 24px 25px;
    background-position: 50px;
}


input[type=email]::-webkit-input-placeholder {
  width: 68px;
  font-size: 16px;
  letter-spacing: -0.3px;
  color: rgba(255, 255 , 255, 0.6);
  line-height: 25px;
}

div.form-group.frg-psw{
    display: flex;
    justify-content: flex-end;
}

div.form-group.btn-frg{
    display: flex;
    justify-content: center;
    margin-top: 39px;
    margin-bottom: 0;
}

button.btn.btn-outline-success{
  max-width: 279px;
  width: 100%;
  border-radius: 0;
  height: 43px;
  font-family: 'HelveticaNeueCyr-Roman';
  color: rgba(255, 255 , 255, 1);
  font-size: 18px;
}

.error-message{
  color: #c44848;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 7px;
  font-family: 'HelveticaNeueCyr-Roman';
}

.has-error input{
  box-shadow: 0 0 5px 0 #c44848;
}

.has-error input[type=email] {
  background: url(../../../assets/images/mail2.svg) no-repeat;
  background-size: 24px 25px;
  background-position: 50px;
}

.back{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.back a{
    text-decoration: none;
    cursor: pointer;
}

.back a img{
    width: 15px;
    height: 22px;
    margin-top: -5px;
}
.back a span{
    font-family: HelveticaNeueCyr-Roman;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: rgba(255, 255, 255,1);
    margin-left: 5px;
}
@media only screen and (max-width: 539px) and (min-width: 320px) {
    .desc{
        margin-left: 15px;
    }
    input#formGroupInput.form-control{
        margin-top: 35px;
    }
}

@media only screen and (max-width: 532px) {

    input[type=email]::-webkit-input-placeholder{
        padding-top: 10px;
    }
}
@media only screen and (max-width: 1107px) and (min-width: 800px)  {
    td.main-header-2 {
        font-size: 400%
    }
  }

  @media only screen and (max-width: 806px) and (min-width: 593px)  {
    td.main-header-2 {
        font-size: 300%
    }
  }
  @media only screen and (max-width: 605px) and (min-width: 400px)  {
    td.main-header-2 {
        font-size: 200%
    }
  }
  @media only screen and (max-width: 403px)  {
    td.main-header-2 {
        font-size: 150%
    }
  }
.head {
    position: absolute;
    visibility: hidden;
}