<section class="container-fluid login-main">
  <app-header-notification></app-header-notification>
    <div class="wrap_menu">
        <app-menu></app-menu>
    </div>
    <div class="container">
      <div class="row">
        <div class="wrap">
          <div class="profile">
            <div class="profile-log">
              <p>Admin's profile</p>

            </div>
            <p class="add-tier">ADD NEW TIER</p>
            <form [formGroup]="createTierForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="price"><img src="../../../assets/images/price.png" alt="price"> PRICE</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  autocomplete="off"
                  [formControlName]="'price'"
                >
              </div>
              <div class="form-group">
                <label for="prize"><img src="../../../assets/images/prize.png" alt="price"> PRIZE</label>
                <input
                  type="number"
                  class="form-control"
                  id="prize"
                  autocomplete="off"
                  [formControlName]="'prize'"
                >
              </div>
              <button
                [disabled]="!createTierForm.value.price || !createTierForm.value.prize"
                type="submit"
                class="btn btn-outline-success"
                >ADD</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
