<app-header-notification class="head"></app-header-notification>
<section class="container-fluid login-main">
  <table class="main-header-1">
    <td class="main-header-2">WORLD CUP BET LEAGUE</td>
  </table>
  <div class="container">
    <div class="row">
        <article class="buy">
          <a class="close"  routerLink="/login" ><img src="../../../assets/images/popup_close.png" alt="close"></a>
          <p class="logout" (click)="logout()">
            <img src="../../../assets/images/logout.png" alt="log out">
          </p>
          <p class="ticket">{{'confirm.please' | translate}}</p>
          <button type="submit" class="btn btn-outline-success" (click)="sendEmail()">{{'confirm.send' | translate}}</button>
        </article>
    </div>
  </div>
</section>
