.container-fluid{
    background: url('./../../assets/images/image-compressor.png') no-repeat;
    margin: 0 auto;
    background-size: 100%;
    background-position-y: 70%;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    min-height: 100vh;
    max-width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    background-attachment: fixed;
  }