<div class="container-fluid">
  <app-header-notification></app-header-notification>
  <div class="wrap_menu">
    <app-menu></app-menu>
  </div>

  <div class="container">
    <div class="row">
      <div class="wrap">
        <div class="menu-table">
          <app-team-menu></app-team-menu>
        </div>
        <div class="collection_flag">
          <app-team-flag></app-team-flag>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="wrap">
        <app-buy-sell-list class="buy-sell"></app-buy-sell-list>
      </div>
    </div>
  </div>
</div>
